@tailwind base;
@tailwind components;
@tailwind utilities;

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.childContainer {
  width: fit-content;
  height: 100px;
  margin: 20px;
  font-size: 50px;
  font-weight: 400;
}

.pinkColor {
  color: blue
};

.imageContainer{
  display: flex;
  align-items: center;
};